<div class="settings-container">

    <h1>Admin Settings</h1>

    <div class="settings-form">
        <form [formGroup]="settingsForm">

        <p>
            
                LLM API-type::
                  <select  formControlName="api_type">
                    <option value="ollama">Ollama</option>
                    <option value="open-ai">Open-AI</option>
                </select>
            
            </p>


            <p>
                API-url:
                <input formControlName="api_url">
            </p>

            <p>
                API-key:
                <input formControlName="api_key">
            </p>

            <p>
                Email-whitelist:
                <input formControlName="email_whitelist">
            </p>

        </form>

    </div>

    <div class="manage-settings">
        <button   (click)="closeSettings()">Close</button>
        <button  [disabled]="!settingsForm.valid" (click)="saveSettings()">Save Settings</button>
    </div>
</div>