.skill-overview-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: left; /* Center-align text */
    overflow: auto;
    margin-top: 10%
  }

.entry-list {
  margin: 20px;
  color: white
}

label {
  margin-right: 10px;
}

select {
  margin: 20px;
  padding: 10px;
  align-self: left;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #777777;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.1rem;
}

select:hover {
    background-color: #252525;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem
}

th, td {
  padding: 10px;
  text-align: left;
}


.progress-container {
  width: 200px;
  position: relative;
  background-color: black;
  border-radius: 5px;
  overflow: hidden;
  height: 25px;
  text-align: center;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4caf50;
  line-height: 20px;
  white-space: nowrap;
  transition: width 0.3s ease;
}
.progress-bar-gain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #71c474;
  line-height: 20px;
  white-space: nowrap;
  transition: width 0.3s ease;
}

.overlay-text{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.list-button {
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0.5rem 1rem; 
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
}

.list-button:hover {
    background-color: #252525;
}

.isolated-button {
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0.5rem 1rem; 
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.isolated-button:hover {
    background-color: #252525;
}

