<div class = "skill-overview-container">

<!-- [(ngModel)]="selectedCourse" -->
    <select (change)="onSelectedCourseChange($event)">
    <option *ngFor="let course of courses" [value]="course">{{ course }}</option>
    </select>

    <div class="entry-list">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Progress</th>
            <th>Reason</th>
            <th>Explanation</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let skill of skills">
            <td>{{ skill.name }}</td>
            <td>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="skill.value">
                    </div>
                    <div class="overlay-text">{{ skill.value }}</div>
                </div>
            </td>
            <!-- <td>{{ skill.value }}</td> -->
            <td>{{ skill.progress }}</td>
            <td>{{ [skill.associated_tasks] }}</td>
            <td>{{ skill.explanation}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
