.mc-container {
  max-width: 3000px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  /* min-height: 100vh; */
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #2d2d2d;
}

.mc-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 11px;
  padding-top: 1.33em;
  padding-bottom: 1.33em;
  color: rgb(214, 214, 214);
  background: #2d2d2d;
}

.mc-checkbox {
  text-align: left;
  font-size: 20px;
  color: rgb(214, 214, 214);
  margin-top: 2px;
  margin-bottom: 2px;
}