<div class="action-buttons">
  <button 
    mat-raised-button
    color="primary" 
    (click)="runButtonClicked()" 
    *ngIf="showRunButton" 
    matTooltip="Run code"
    class="action-button">
    <mat-icon>play_arrow</mat-icon>
    <span class="button-label">Run</span>
  </button>

  <button 
    mat-raised-button
    [color]="inCooldown ? '' : 'primary'"
    [disabled]="inCooldown"
    (click)="feedbackButtonClicked()" 
    *ngIf="showHintButton"
    [matTooltip]="feedbackTooltip"
    class="action-button"
    [class.cooldown]="inCooldown">
    <mat-icon>help_outline</mat-icon>
    <span class="button-label">{{ feedbackButtonLabel }}</span>
  </button>

  <button 
    mat-raised-button 
    color="primary" 
    (click)="submitButtonClicked()" 
    matTooltip="Submit code"
    class="action-button submit-button">
    <mat-icon>publish</mat-icon>
    <span class="button-label">Submit</span>
  </button>
</div>
