.course-selection-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center-align text */
    overflow: auto;
    margin-top: 10%
  }

  .title-course-selection {
    margin-bottom: 2rem; /* Add space between title and list */
    font-size: 1.6rem;
    font-weight: bold;
  }

/* Reset default list styles */
.styled-list {
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 30%
  }
  
  /* Style list items */
  .styled-list li {
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 1rem 2rem; /* Adjusted padding to make the button smaller */
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 85%;
    font-size: 1.1rem;
  }
  
  /* Add hover effect */
  .styled-list li:hover {
    background-color: #252525;
  }
  
  /* Add transition for smooth hover effect */
  .styled-list li {
    transition: background-color 0.3s ease;
  }